@charset "utf-8";

#cabeçalho{
    height: 560px;
    background: #D7D5FF;
    border: solid #D7D5FF 1px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#lorem{
    margin-top: -20px;
}


#lorem h1 {
    width: 55%;
    height: 95px;
    margin-top: 137.5px;
    margin-left: 101px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 47px;
    /* or 131% */

    display: flex;
    align-items: center;

    color: #2B2B2B;
}



#lorem h2 {
    width: 389px;
    height: 96px;
    margin-top: 20px;
    margin-left: 100px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 32px;
    /* or 168% */
    display: flex;
    align-items: center;

    color: #555555;
}

#lorem button {
    width: 155px;
    height: 50px;
    margin-left: 101px;
    margin-top: 39px;
    background: #6C63FF;
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
    border-radius: 5px;
}

#pageone{
    margin-top: 35px;
}

#pageone img{
    width: 85%;
}


#principal{
    margin: 50px 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#principal  div{
    width: 320px;
    height: 423px;
    margin-left: 50px;
    margin-top: 70px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}


#principal h3{
    width: 168px;
    margin-left: 25px;
    margin-top: 235px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;

    color: #2B2B2B;
}

#principal h4{
    width: 220px;
    margin-left: 25px;
    margin-top: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */


    color: #555555;
}

.card{
    background: linear-gradient(#FF6363 50%, white 50%);
}

.card1{
    background: linear-gradient(#63ECFF 50%, white 50%);
}

.card2{
    background: linear-gradient(#F363FF 50%, white 50%);
}

.card3{
    background: linear-gradient(#63FF73 50%, white 50%);
}

.card4{
    background: linear-gradient(#FFDD63 50%, white 50%);
}

.card5{
    background: linear-gradient(#6663FF 50%, white 50%);
}

#rodape{
    width: 100%;
    height: 750px;
    background: #D7D5FF;
    margin-top: 140px;
    justify-content: center;
}

#rodape h5{
    width: 100%;
    padding-top: 50px;
    margin-bottom: 50px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    text-align: center;

    color: #2B2B2B;
}

.formulario{
    width: 480px;
    margin: 0 auto;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    color: rgba(110, 114, 117, 0.74);
}

#enviar{
    background: #6C63FF;
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
    border-radius: 5px;
    border: solid #6C63FF;
    margin-top: 30px;
    width: 481px;
}


.formulario input{
    width: 470px;
    height: 65px;
    border-radius: 6px;
    border: solid white;
    margin-bottom: 15px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px
}

.msn{
    width: 470px;
    height: 160px;
    border: solid white;
    border-radius: 6px;
    border-radius: 6px;
    border: solid white;
    margin-bottom: 15px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px
}


@media (max-width: 1101px){
    #cabeçalho{
        height: 950px;
        background: #D7D5FF;
        border: solid #D7D5FF 1px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 640px){
    .formulario{
        width: 95%;
    }
    .formulario input{
        width: 95%;
    }
    .msn{
        width: 95%;
    }
    #enviar{
       
        width: 95%;
    }
    #pageone img{
        width: 85%;
        margin-left: 5%;
    }
    
}


@media (max-width: 520px){
    
    #lorem h2 {
        width: 60%;
        margin-left: 95px;
        margin-top: 25px;
    }
    #lorem button {
    margin-left: 101px;
    margin-top: 39px;
}
#principal{
    margin: 50px 0 0 auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -5%;
}

}

@media (max-width: 440px){
    #principal  div{
        display: flex;
        width: 75%;

}
#principal{
    margin: 50px 0 0 auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -5%;
}
#principal h3{
    width: 168px;
    margin-top: 235px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;

    color: #2B2B2B;
}

#principal h4{
    width: 60%;
    margin-left: -165px;
    margin-top: 265px;
}
#lorem h2 {
    width: 70%;
    margin-left: 65px;
    margin-top: 78px;
}
#lorem button {
margin-left: 101px;
margin-top: 69px;
}
#lorem h1 {
    width: 55%;
    margin-left: 65px;

    }
    #principal h4{
        width: 70%;
        margin-left: -165px;
        margin-top: 265px;
    }
    #principal  div{
        display: flex;
        width: 75%;
        height: 450px;

}
}

@media (max-width: 400px){
    #principal{
        margin-left: -7%;
    }
    #lorem h2 {
        margin-top: 85px;
    }
}

@media (max-width: 360px){
    #lorem button {
        margin-left: 25%;
        margin-top: 69px;
        }
}
@media (max-width: 280px){
    
    #lorem h1 {
        width: 75%;
        margin-left: 45px;
    
        }
    #lorem h2 {
        width: 80%;
        margin-left: 45px;
        margin-top: 55px;
    }
    #lorem button {
        margin-left: 22%;
        margin-top: 79px;
        }
}

@media (min-width: 1500px){
    #pageone img{
        width: 110%;
        margin-left: -20%;
    }
    #cabeçalho{
        height: 660px;
        background: #D7D5FF;
        border: solid #D7D5FF 1px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #lorem h1 {
        font-size: 240%;
        width: 60%;
        }
    #lorem h2 {
        font-size: 150%;
    }
    #principal{
        margin: 50px 0 0 auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -1%;
        width: 100%;
    }
    #principal  div{
        width: 320px;
        height: 423px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        flex: auto;
        margin-left: 100px;
        margin-right: 60px;
    }

    
}

@media (min-width: 1980px){
    #pageone img{
        width: 110%;
        margin-left: -40%;
    }
    
}